body {
    background-color: black;
    /* Centraliza o conteúdo horizontal e verticalmente */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#radio-title {
    color: white; /* Muda a cor para branco */
    font-family: Arial, sans-serif; /* Define a fonte para Arial */
    font-weight: bold; /* Deixa o texto em negrito */
    text-align: center;
    margin-bottom: 20px; /* Adiciona um espaço abaixo do título */
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    /* Transições para o efeito de filtro */
    transition: filter 0.3s ease-in-out;
}

.radio {
    width: 500px;
    height: 500px;
    filter: grayscale(95%); /* Deixa a imagem cinza por padrão (desligado) */
}

/* Estado da imagem quando a rádio está tocando */
.radio.active {
    filter: grayscale(0%); /* Remove o filtro de cinza para voltar à cor original */
}